
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/FilterLayout.cshtml";
}

<h2>AboutUs</h2>

<p>
    Welcome to Techify! We are a tech company committed to providing the best tech products and services.
</p>