
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/FilterLayout.cshtml";
}

<h2>ContactUs</h2>

<p>
    If you have any questions, feel free to reach out to us at <a href="mailto:support@techify.com">support@techify.com</a>.
</p>