@{
    ViewBag.Title = "Order Confirmation";
    Layout = "~/Views/Shared/FilterLayout.cshtml";
}
<br />
<br />


<h2>Order Confirmation</h2>
<p>Your order has been placed successfully. Thank you for shopping with us!</p>
<br />

<br />
<br />

<br />