
@{
    ViewBag.Title = "Request Submitted";
    Layout = "~/Views/Shared/FilterLayout.cshtml";
}
<br />
<br />


<h2>Thank You!</h2>
<p>Your request to become a seller has been submitted. The admin will review your request and activate your account if approved.</p>

<br />
<br />